@{
    ViewBag.Title = "Home";
}

<div style="display:inline-block;margin:5px">
    @Html.ActionLink("Societies data", "Societies_Data", "Administrator",null, new { @class = "btn btn-primary" })
</div>
<div style="display:block;margin:5px;">
    @Html.ActionLink("Students data", "Students_Data", "Administrator", null, new { @class = "btn btn-primary" })
</div>
<br />
<br />
<br />
<div style="display:inline-block;margin:5px">
    @Html.ActionLink("Add Student", "AddStudent", "Administrator", null, new { @class = "btn btn-primary" })
</div>
<div style="display:block;margin:5px;">
    @Html.ActionLink("Add Society", "AddSociety", "Administrator", null, new { @class = "btn btn-primary" })
</div>

